h1 {
  font-size: 30px;

}

@media screen and (min-width: 768px){
  .jumbotron h1, .jumbotron .h1 {
      font-size: 30px;
  }
}
.column {
  float: right;
  margin-left: 20px;
}

#intro {

  font-size: 15px;
}

.today{
  float:left;
  width: 45%;
}

.news {
  float:right;
  width: 45%;
}
